.movies-card-list__elements {
  width: 100%;
  margin: 0;
  padding: 40px 0 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px 20px;
}

.movies-card-list__else-btn {
  width: 100%;
  height: 36px;
  margin: 50px 0 80px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  background: #2F2F2F;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  text-align: center;
  display: block;
  transition: opacity .4s ease-in-out;
  cursor: pointer;
}

.movies-card-list__else-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 1279px) {
  .movies-card-list__elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list__elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
  }
  
  .movies-card-list__message {
    font-size: 14px;
  }
}