.techs__stack-item {
  display: flex;
  width: 90px;
  height: 60px;
  background: #303030;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .techs__stack-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
