.about-project {
  padding: 110px 0;
}

.about-project__articles {
  padding: 70px 0 110px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-project__map {
  display: grid;
  align-items: center;
  row-gap: 14px;
  grid-template-areas:
    "time-back time-front"
    "skill-back skill-front";
}

.about-project__map-time {
  grid-area: time-back;
  width: 228px;
  height: 36px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3DDC84;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__map-time_color_grey {
  width: 912px;
  grid-area: time-front;
  background: #303030;
  color: #FFFFFF;
}

.about-project__map-skill {
  grid-area: skill-back;
  width: 228px;
  margin: 0;
  background: transparent;
  color: #8B8B8B;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.about-project__map-skill_skill_front {
  grid-area: skill-front;
  width: 912px;
}

@media screen and (max-width: 1279px) {
  .about-project {
    padding: 90px 0 ;
  }
  .about-project__articles {
    padding: 70px 0 93px;
    gap: 30px;
  }
  .about-project__map-time {
    width: 140px;
  }
  .about-project__map-time_color_grey {
    width: 528px;
  }
  .about-project__map-skill {
    width: 140px;
  }
  .about-project__map-skill_skill_front {
    width: 528px;
  } 
}

@media screen and (max-width: 767px) {
  .about-project {
    padding: 60px 0 70px;
  }
  .about-project__articles {
    padding: 60px 0 60px;
    flex-direction: column;
    gap: 56px;
  }
  .about-project__map {
    row-gap: 10px;
  }
  .about-project__map-time {
    width: 100px;
    height: 35px;
    font-size: 11px;
    line-height: 13px;
  }
  .about-project__map-time_color_grey {
    width: 184px;
  }
  .about-project__map-skill {
    width: 100px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
  .about-project__map-skill_skill_front {
    width: 184px;
  }
}